@mixin font ($family, $size, $height: $size, $weight: 400, $style: normal) {
    font-family: $family;
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
}



